@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/NotoSansJP-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/Exo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('~assets/fonts/Exo-Bold.ttf') format('truetype');
}

* {
  font-family: 'Noto Sans JP';
}
